	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<br />

		</div>
		<br />
		<br />
		<div id="footer">
			<p>&copy; 2007-2008 slagg. Designed by <a href="http://www.stylerbb.net">stylerbb.net</a> <span><!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span></p>
	<span class="phpbbcopyright">{CREDIT_LINE}</span>
			<ul id="footernav">
				<li class="last"><a href="{U_FAQ}">{L_FAQ}</a></li>
				<!-- IF not S_IS_BOT -->
				<!-- IF S_DISPLAY_MEMBERLIST --><li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH --><li><a href="{U_SEARCH}">{L_SEARCH}</a></li><!-- ENDIF -->
				<!-- IF U_ACP --><li><a href="{U_ACP}">{L_ACP}</a></li><!-- ENDIF -->
				<li><a href="{U_INDEX}">{L_INDEX}</a></li>
			</ul>
			
		</div>
	</div>
	</div>
</body>
</html>